body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.latoText {
    font-family: 'Lato', sans-serif;
}

.parallax-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 8px;
    perspective-origin: 0%;
    display: flex;
    z-index: 0;
}

.parallax-wrapper::-webkit-scrollbar {
    display: none;
}

.foreground {
    transform: translateZ(0px);
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: 0;
    transform: translateZ(-4px) scale(1.5);
}

.Header {
    background-color: #404040;
    height: 6%;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.endlessLogo {
    fill: aquamarine;
    width: 10%;
    height: 100%;
    left: 15%;
    top: 3%;
    position: absolute;
    
}

.Promo {
    height: 100%;
    width: 100%;
}

.promoSection img {
    height: 100%;
    width: 100%;
}

.promoText {
    position: absolute;
    bottom: 20%;
    left: 18%;
    text-align: left;
    width: 50%;
    overflow-wrap: break-word;
    color: whitesmoke;
}

.newGames {
    font-weight: 300;
    font-size: 24px;
}

.monthlyPackage {
    font-weight: 300;
    font-size: 48px;
    margin: 0;
}

.promoButton button {
    background-color: aquamarine;
    border: none;
    color: #404040;
    padding: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    font-weight: 700;
    width: 20%;
    border-radius: 30px;
}

.desc {
    font-size: 18px;
    font-weight: 400;
    padding-right: 40%;
}

.HowItWorks {
    background-color: whitesmoke;
    width: 100%;
    height: max-content;
    position: fixed;
    left: 0px;
    top: 90%;
}

.howItWorksText p {
    font-size: 30px;
}

.howItWorksText ul {
    list-style-type: none;
    margin: 0;
    padding-right: 10%;
    padding-left: 10%;
    overflow: hidden;
}

.listItem {
    float: left;
    width: 20%;
    padding-left: 2%;
    padding-right: 2%;
}

.listItem div {
    font-size: 48px;
    display: inline;
    text-align: center;
    width:50%;
    margin-left:25%;
    margin-right:25%;
    border-bottom: 3px solid aquamarine;
}

.listItem h3 {
    font-size: 15px;
    font-weight: 700;
}

.listItem p {
    font-size: 17px;
}

